naijaxch.com {
    # API routes
    handle /api/* {
        reverse_proxy backend:8000
    }

    # Frontend
    handle {
        reverse_proxy frontend:80
    }
}

www.naijaxch.com {
    redir https://naijaxch.com{uri} permanent
}
